.info-modal {
  .info-modal-contents {
    position: absolute;
    width: 400px;
    height: 200px;
    top: calc(50% - 120px);
    left: calc(50% - 200px);
    border-radius: 4px;
    background-color: white;
    .info-modal-label {
      margin: 60px 20px;
    }
    .btn-area {
      position: absolute;
      right: 20px;
      bottom: 20px;
      .MuiButton-root {
        &.cancel-btn {
          &:hover {
            font-weight: bold;
          }
          background-color: lightgrey;
          margin-right: 4px;
        }
        &.save-btn {
          &:hover {
            font-weight: bold;
          }
          background-color: #ffd56b;
        }
      }
    }
  }
}
