.info-modal {
  .info-modal-contents {
    position: absolute;
    height: 200px;
    width: 360px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: white;
    .info-modal-label {
      margin: 60px 20px;
    }
    .btn-area {
      position: absolute;
      right: 20px;
      bottom: 20px;
      .MuiButton-root {
        &.cancel-btn {
          &:hover {
            font-weight: bold;
          }
          background-color: lightgrey;
          margin-right: 4px;
        }
        &.save-btn {
          &:hover {
            font-weight: bold;
          }
          background-color: #ffd56b;
        }
      }
    }
  }
}
