#CalculatorPage {
  margin: 120px 60px 0px;
  .page-header {
    display: flex;
    height: 80px;
    .save-btn {
      height: 24px;
      margin: 32px 16px 0px;
      background-color: #ffd56b;
    }
  }
  .data-grid {
    height: 500px;
    .title {
      display: flex;

      .highlight {
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0) 50%,
          #ffd56b 50%,
          #ffd56b 100%
        );
        margin-right: 10px;
      }
    }
    div {
      background-color: white;
      color: black;

      .c1wupbe700-canary49[aria-selected="true"] {
        box-shadow: none;
      }

      &.rdg-row {
        .rdg-cell {
          &:first-child {
            border-left: 1px solid #dbe6fd;
          }
          background-color: white;
          color: #293b5f;
          border-right: 1px solid #dbe6fd;
          border-bottom: 1px solid#dbe6fd;
          padding: 0px 4px;
          .editied-cell {
            padding: 0px 8px;
            background-color: lightgreen;
          }
          .deleted-cell {
            padding: 0px 8px;
            background-color: lightcoral;
          }
          .original-cell {
            padding: 0px 8px;
          }

          .phone-editor {
            padding: 0px 8px;

            .MuiInputBase-root {
              &:first-child {
                width: 25px;
              }
              width: 34px;

              &::after {
                content: "-";
              }

              .MuiInputBase-input {
                padding: 0px;
                margin: 0px;
              }
            }
          }
        }
      }

      &.rdg-header-row {
        .rdg-cell {
          &:first-child {
            border-left: 1px solid ghostwhite;
          }
          background-color: #293b5f;
          color: ghostwhite;
          border-right: 1px solid ghostwhite;
          border-bottom: 1px solid ghostwhite;
          &.rdg-editor-container {
            div {
              input {
                background-color: white;
                color: black;
              }
            }
          }
        }
      }
    }
  }
}
