#CalculatorPage {
  margin: 120px 60px 0px;
  .page-header {
    display: flex;
    height: 80px;
    .save-btn {
      height: 24px;
      margin: 32px 16px 0px;
      background-color: #ffd56b;
    }
  }
  .data-grid {
    height: 800px;
    .common-data-grid {
      height: 800px;
    }
  }
  .calculator {
    margin: 0px 0px 20px;
    span {
      font-size: 20px;

      &.total {
        display: inline-block;
        margin-bottom: 10px;
      }
      &.bold {
        font-weight: bold;
      }
    }
    .more-info {
      margin: 0px 6px;
      width: 18px;
      height: 18px;
      border: none;
      background-color: #708fce;
      border-radius: 50%;
      color: white;
      font-size: 13px;
      font-weight: bold;
      text-align: center;
    }
    .calculator-detail {
      .detail-item {
      }
    }
  }
}
