@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
@import "./variables.scss";

.app {
  height: 100%;
  width: 100%;
  min-width: 1100px;
  overflow-x: scroll;
  #container {
    margin-left: $sidebarWidth;
  }
}
