@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
@import './variables.scss';

.app{ 
  height: 100%;
width : 100%;
#container {
  padding-top: 100px;
  margin-left: $sidebarWidth;
}}



.ag-theme-alpine{
  padding: 20px;
  height: 500px;
  .ag-header{
    background-color: #dbe6fd !important;
  }
}